<mat-toolbar>
  <div class="logo">
  <span>S<span class="colorTitle">O</span>UL<span class="colorTitle">MV</span></span>
  </div>
  <div class="buttons">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>restore_from_trash</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>
      <span class="material-symbols-outlined">
        question_mark
        </span>
    </mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</div>
</mat-toolbar>
